body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #12343b;
}

header {
    background-color: #2d545e;
    color: white;
    padding: 1rem 0;
    text-align: center;
    border-bottom: 10px solid #2a9d8f;
    display: flex;
    align-items: center;
    justify-content: center;
}

header h1 {
    font-family: 'Bebas Neue', sans-serif;
	font-size: 5em;
}

h1 a {
    text-decoration: none;
    color: inherit;
}

h2 {
	font-family: 'Bebas Neue', sans-serif;
	font-size: 4em;
	color:#2d545e
}

h3 {
	font-family: 'Bebas Neue', sans-serif;
	font-size: 2em;
	color: #2d545e
}

.logo img {
    width: 100px;
    height: auto;
    margin-right: 10px;
}

nav ul {
    list-style: none;
	text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    border: 2px solid transparent;
    padding: 10px 20px;
    transition: all 0.3s ease;
}

nav ul li a:hover {
    background-color: white;
    color: #c89666;
    border-color: #e1b382;
}

.intro {
    background: url('hero-image.jpeg') center/cover no-repeat;
    color: white;
    text-align: center;
    padding: 100px 0;
}

.intro h2 {
    font-size: 4em;
}

.faq {
    background: url('faq.jpg') center/cover no-repeat;
    color: white;
    text-align: center;
    padding: 100px 0;
}

.faq h2 {
    font-size: 4em;
}

.tipstricks {
    background: url('tipstricks.jpeg') center/cover no-repeat;
    color: white;
    text-align: center;
    padding: 100px 0;
}

.tipstricks h2 {
    font-size: 4em;
}

.featured-recipes {
    background-color: #c89666;
    padding: 50px 0;
    text-align: center;
}

.featured-recipes h2 {
    font-size: 4em;
    margin-bottom: 20px;
}

.featured-recipes .keylime img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

.featured-recipes .bangbangshrimp img {
    width: 650px;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
}
.questions {
    background-color: #c89666;
    padding: 50px 0;
    text-align: center;
}

.questions h2 {
    font-size: 4em;
    margin-bottom: 20px;
}

.discover {
    background-color: #9ad3bc;
    padding: 50px 0;
    text-align: center;
}

footer {
    background-color: #e1b382;
    color: white;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
}

.form-container {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: 0 auto;
}

label,
input,
textarea {
    margin-bottom: 10px;
}

button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

.success-message {
    display: none;
    text-align: center;
    margin-top: 20px;
}

.success-message h2 {
    color: #4caf50;
}

@media (min-width: 600px) { 
		header { 	padding-left: 0; 
				text-align: center; }
		h1        { font-size: 3em; }	
		nav ul   { 	flex-flow: row nowrap;
				justify-content: space-around; }
		nav li    { 	border-bottom: none; }    
		#mobile   { display: none; }
		#desktop { display: inline; }
		h4 { margin-left: 10%; 
		    margin-right: 10%; }
		form { width: 40%; display: grid; grid-gap: 1em; grid-template-columns: 6em 1fr; }
		input[type="submit"] { grid-column: 2 / 3; width: 9em}
}
@media (min-width: 1024px) { 
		@supports (display: grid) {
		   header { grid-area: header; }	
		   nav      { grid-area: nav; }
		   main    { grid-area: main; }		
		   footer  { grid-area: footer; }		
		nav ul { flex-direction: column; }	
        header {  background-image: url(logo.jpg); }			
   }
}
